{
    "type": "service_account",
    "project_id": "yourname",
    "private_key_id": "331xxxxxb7ecdxxxxxxxxxxxxxxxx14268xxxxxxc6",
    "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcaK1Y10oPl4xoFWt7Kn6D+v0uBJSiIcjfoKo0aeVH2/VMCCSY9bqP7vYqPb6V2\nHj68IZkSljzaLiYq6IT/F7paLWZhUYvUM17kboVGlyehXQ7q0ARsJdhb2vczCwc0\ntLl1sWcx4YcWeII6pfiRiFGnXYKKazy628ga4mdzAoGAJBXr7b9GIwpClKr/L70g\nVVhbEh3+TMhOYdRkskGijEA7h+HHk/XcRVteifd7B+29s0af3LHOcGysAjdqsL8R\nEfCHNPv8aiDl2fqU6mrjKV5XpYJtWa5iip9QHQ4LtoYRlq2v8NUgko9FoOTT6rBv\nfJMgRhT7G2SAxj5Kdr9NLT0=\n-----END PRIVATE KEY-----\n",
    "client_email": "yourname@appspot.gserviceaccount.com",
    "client_id": "103xxxxxxxxxxxxx666",
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://oauth2.googleapis.com/token",
    "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
    "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/yourname%40appspot.gserviceaccount.com"
  }